# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

2022-11-14 21:10:58.372073: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('../Module-12-challenge/Resources/applicants_data.csv'))

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.sample()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
2468,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [16]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

# Display the categorical variables list
# YOUR CODE HERE
print(categorical_variables)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [24]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [25]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [26]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names_out(categorical_variables)
                          )

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [27]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_values_df = applicant_data_df.drop(columns= categorical_variables)
encoded_df = pd.concat([encoded_df, numerical_values_df], axis=1)

# Review the Dataframe
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [29]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']
# Display a sample of y
# YOUR CODE HERE
y.sample()

1005    0
Name: IS_SUCCESSFUL, dtype: int64

In [30]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
# YOUR CODE HERE
X.sample()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
1618,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000

### Step 6: Split the features and target sets into training and testing datasets.

In [31]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [32]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1 )// 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [39]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 +1) // 2 

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [41]:
# Create the Sequential model instance
nn = Sequential()

2022-11-15 12:33:39.033665: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [42]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [45]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [46]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation='sigmoid'))

In [47]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 1)                 59

 dense_2 (Dense)             (None, 29)                58

 dense_3 (Dense)             (None, 1)                 30

=================================================================
Total params: 6,933
Trainable params: 6,933
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [48]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [50]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5854 - accuracy: 0.7227
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5617 - accuracy: 0.7290
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7321
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5535 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7334
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7337
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7340
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7345
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7341
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7339
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7335
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7369
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7353
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7345
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7350
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7350
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7343
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7353
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7359
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7356
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7363
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7351
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7365
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7376
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7363
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7376
Epoch 27/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5438 - accuracy: 0.7374
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7364
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7364
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7361
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7370
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7366
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7359
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7385
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7363
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7383
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7370
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7382
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7371
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7369
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7369
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7373
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7380
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7352
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7370
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7357
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7386
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7388

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [51]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test) 

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7294
Loss: 0.5511667728424072, Accuracy: 0.7294460535049438

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [53]:
# Set the model's file path
file_path = Path('../Module-12-challenge/Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [60]:
display(encoded_df)
list(encoded_df.columns
     )

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

['APPLICATION_TYPE_T10',
 'APPLICATION_TYPE_T12',
 'APPLICATION_TYPE_T13',
 'APPLICATION_TYPE_T14',
 'APPLICATION_TYPE_T15',
 'APPLICATION_TYPE_T17',
 'APPLICATION_TYPE_T19',
 'APPLICATION_TYPE_T2',
 'APPLICATION_TYPE_T25',
 'APPLICATION_TYPE_T29',
 'APPLICATION_TYPE_T3',
 'APPLICATION_TYPE_T4',
 'APPLICATION_TYPE_T5',
 'APPLICATION_TYPE_T6',
 'APPLICATION_TYPE_T7',
 'APPLICATION_TYPE_T8',
 'APPLICATION_TYPE_T9',
 'AFFILIATION_CompanySponsored',
 'AFFILIATION_Family/Parent',
 'AFFILIATION_Independent',
 'AFFILIATION_National',
 'AFFILIATION_Other',
 'AFFILIATION_Regional',
 'CLASSIFICATION_C0',
 'CLASSIFICATION_C1000',
 'CLASSIFICATION_C1200',
 'CLASSIFICATION_C1230',
 'CLASSIFICATION_C1234',
 'CLASSIFICATION_C1235',
 'CLASSIFICATION_C1236',
 'CLASSIFICATION_C1237',
 'CLASSIFICATION_C1238',
 'CLASSIFICATION_C1240',
 'CLASSIFICATION_C1245',
 'CLASSIFICATION_C1246',
 'CLASSIFICATION_C1248',
 'CLASSIFICATION_C1250',
 'CLASSIFICATION_C1256',
 'CLASSIFICATION_C1257',
 'CLASSIFICATION_C1260',
 'CLASSIFICATION_C1267',
 'CLASSIFICATION_C1270',
 'CLASSIFICATION_C1278',
 'CLASSIFICATION_C1280',
 'CLASSIFICATION_C1283',
 'CLASSIFICATION_C1300',
 'CLASSIFICATION_C1370',
 'CLASSIFICATION_C1400',
 'CLASSIFICATION_C1500',
 'CLASSIFICATION_C1570',
 'CLASSIFICATION_C1580',
 'CLASSIFICATION_C1600',
 'CLASSIFICATION_C1700',
 'CLASSIFICATION_C1720',
 'CLASSIFICATION_C1728',
 'CLASSIFICATION_C1732',
 'CLASSIFICATION_C1800',
 'CLASSIFICATION_C1820',
 'CLASSIFICATION_C1900',
 'CLASSIFICATION_C2000',
 'CLASSIFICATION_C2100',
 'CLASSIFICATION_C2150',
 'CLASSIFICATION_C2170',
 'CLASSIFICATION_C2190',
 'CLASSIFICATION_C2300',
 'CLASSIFICATION_C2380',
 'CLASSIFICATION_C2400',
 'CLASSIFICATION_C2500',
 'CLASSIFICATION_C2561',
 'CLASSIFICATION_C2570',
 'CLASSIFICATION_C2600',
 'CLASSIFICATION_C2700',
 'CLASSIFICATION_C2710',
 'CLASSIFICATION_C2800',
 'CLASSIFICATION_C3000',
 'CLASSIFICATION_C3200',
 'CLASSIFICATION_C3700',
 'CLASSIFICATION_C4000',
 'CLASSIFICATION_C4100',
 'CLASSIFICATION_C4120',
 'CLASSIFICATION_C4200',
 'CLASSIFICATION_C4500',
 'CLASSIFICATION_C5000',
 'CLASSIFICATION_C5200',
 'CLASSIFICATION_C6000',
 'CLASSIFICATION_C6100',
 'CLASSIFICATION_C7000',
 'CLASSIFICATION_C7100',
 'CLASSIFICATION_C7120',
 'CLASSIFICATION_C7200',
 'CLASSIFICATION_C7210',
 'CLASSIFICATION_C8000',
 'CLASSIFICATION_C8200',
 'CLASSIFICATION_C8210',
 'USE_CASE_CommunityServ',
 'USE_CASE_Heathcare',
 'USE_CASE_Other',
 'USE_CASE_Preservation',
 'USE_CASE_ProductDev',
 'ORGANIZATION_Association',
 'ORGANIZATION_Co-operative',
 'ORGANIZATION_Corporation',
 'ORGANIZATION_Trust',
 'INCOME_AMT_0',
 'INCOME_AMT_1-9999',
 'INCOME_AMT_10000-24999',
 'INCOME_AMT_100000-499999',
 'INCOME_AMT_10M-50M',
 'INCOME_AMT_1M-5M',
 'INCOME_AMT_25000-99999',
 'INCOME_AMT_50M+',
 'INCOME_AMT_5M-10M',
 'SPECIAL_CONSIDERATIONS_N',
 'SPECIAL_CONSIDERATIONS_Y',
 'STATUS',
 'ASK_AMT',
 'IS_SUCCESSFUL']

In [63]:
encoded_df_A1 = encoded_df.drop(columns=['AFFILIATION_Family/Parent', 'AFFILIATION_CompanySponsored','AFFILIATION_Independent',
                                         'AFFILIATION_National','AFFILIATION_Other','AFFILIATION_Regional'])
##dropping Affiliation and seeing if that is a confusing variable

In [80]:
##Creating new x and y values and splitting them. next scale the new values

y_a1 = encoded_df['IS_SUCCESSFUL']
X_a1 = encoded_df_A1.drop(columns="IS_SUCCESSFUL")
X_train_a1, X_test_a1, y_train_a1, y_test_a1 = train_test_split(X_a1, y_a1, random_state=1)

In [81]:
scaler = StandardScaler() 
X_scaler = scaler.fit(X_train_a1)
X_train_a1_scaled = X_scaler.transform(X_train_a1)
X_test_a1_scaled = X_scaler.transform(X_test_a1)

In [98]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_a1.iloc[0])

# Review the number of features
number_input_features

110

In [99]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [100]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
print(hidden_nodes_layer1_A1)


hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

print(hidden_nodes_layer2_A1)

55
28

In [101]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [102]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation='relu'))
# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
# YOUR CODE HERE

nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 55)                6105

 dense_11 (Dense)            (None, 28)                1568

 dense_12 (Dense)            (None, 1)                 29

=================================================================
Total params: 7,702
Trainable params: 7,702
Non-trainable params: 0
_________________________________________________________________

In [103]:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 1)                 59

 dense_2 (Dense)             (None, 29)                58

 dense_3 (Dense)             (None, 1)                 30

=================================================================
Total params: 6,933
Trainable params: 6,933
Non-trainable params: 0
_________________________________________________________________

In [106]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [107]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_a1_scaled, y_train_a1, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6284 - accuracy: 0.6421
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6110 - accuracy: 0.6553
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6075 - accuracy: 0.6573
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6048 - accuracy: 0.6585
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6041 - accuracy: 0.6582
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6031 - accuracy: 0.6590
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6024 - accuracy: 0.6593
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6012 - accuracy: 0.6590
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6008 - accuracy: 0.6604
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6008 - accuracy: 0.6579
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6004 - accuracy: 0.6592
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5997 - accuracy: 0.6586
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5999 - accuracy: 0.6605
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5992 - accuracy: 0.6601
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5987 - accuracy: 0.6612
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5985 - accuracy: 0.6626
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5984 - accuracy: 0.6619
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5981 - accuracy: 0.6609
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5977 - accuracy: 0.6614
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5972 - accuracy: 0.6611
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5974 - accuracy: 0.6626
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5971 - accuracy: 0.6623
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5968 - accuracy: 0.6624
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5969 - accuracy: 0.6622
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5967 - accuracy: 0.6608
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5967 - accuracy: 0.6619
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5957 - accuracy: 0.6621
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5958 - accuracy: 0.6632
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5961 - accuracy: 0.6625
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5960 - accuracy: 0.6616
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5957 - accuracy: 0.6615
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5955 - accuracy: 0.6636
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5951 - accuracy: 0.6628
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5954 - accuracy: 0.6612
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5951 - accuracy: 0.6631
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5947 - accuracy: 0.6630
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5949 - accuracy: 0.6624
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5949 - accuracy: 0.6628
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5943 - accuracy: 0.6633
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5944 - accuracy: 0.6628
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5942 - accuracy: 0.6632
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5945 - accuracy: 0.6628
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5943 - accuracy: 0.6639
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5940 - accuracy: 0.6637
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5944 - accuracy: 0.6631
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5939 - accuracy: 0.6635
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5939 - accuracy: 0.6625
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5933 - accuracy: 0.6636
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5940 - accuracy: 0.6645
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5937 - accuracy: 0.6629

In [109]:
model_accuracy_a1, model_loss_a1 = nn_A1.evaluate(X_test_a1_scaled, y_test_a1)

268/268 [==============================] - 1s 2ms/step - loss: 0.6114 - accuracy: 0.6589

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 200

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE